@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina|Pacifico';
body {
    /*font-family: sans-serif;*/
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
	font-family: 'Baloo Bhaina', cursive;
    font-size: 300%;
}

.text-small{
	font-family: 'Pacifico', cursive;
	font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 2
    00px;
}

.container{
	max-width: 800px;
	margin: 0 auto;
	color: #584f4f;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
